/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #2d3748; /* Dark color for the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the scrollbar thumb */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #1a202c; /* Darker color when hovering over the scrollbar thumb */
  }
  